<%-include("../partials/header") %>

<div class="container mb-2">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Info1</li>
                <li class="list-group-item">Info2</li>
                <li class="list-group-item">Info3</li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <img src="<%= campground.image %>" class="card-img-top" alt="<%= campground.name %>">
                <div class="card-body">
                    <div class="card-title">
                        <h4 class="float-right">
                            NPR <%= campground.price%>/night
                        </h4>
                        <h4><a href="">  <%=campground.name %> </a>  </h4>
                    </div>
                    <p class="card-text"><%= campground.description %></p>
                    <p>Submitted by <%= campground.author.username %></p>
                </div>

                <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                    <div id="user-action ">
                        <a href="/campgrounds/<%=campground.id%>/edit" class="btn btn-warning m-2">Edit</a>
                        <form class="d-inline float-right" action="/campgrounds/<%=campground.id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger m-2">Delete</button>
                        </form>
                    </div>
                <% } %>



                <div class="card">
                    <div class="card-header">
                        <div id="review">
                            <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-success">Add New Comment</a>
                        </div>
                    
                    <% campground.comments.forEach(comment => { %>
                    <div>
                        <h5 style="display: inline-block;"><%= comment.author.username %></h5>
                        <span class="float-right">10 days ago</span>
                        <p class="card-text"><%= comment.text %></p>
                    </div>
                    <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                        <div id="user-action mt-1 ">
                        
                            <a href="/campgrounds/<%=campground.id%>/comments/<%=comment._id%>/edit" class="btn btn-sm btn-warning ">Edit</a>
                            <form class="d-inline" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-sm btn-danger float-right">Delete</button>
                            </form>
                        </div>
                        <%}%>
                    
                    <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<%-include("../partials/footer") %>